* {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: nowrap;
}

#memorieshero img {
    width: 1rem !important;
}
#memorieshero {
    display: flex;
    flex-direction: row;
}
.memory {
    display: flex;
    flex-direction: row;
}